body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex; /*pang gap */
  flex-direction: column;
  background-color: #c7f0c7;
  border: 10px solid #238000;
  box-sizing: border-box;
  gap: 35px;
  padding: 30px;
}

.lightBlueContainer {
  display: flex;
  padding: 30px;
  flex: 1;
  background-color: #add8e6;
  border: 8px solid #2000ff;
  box-sizing: border-box;
  gap: 15px;
}

.peachBox {
  flex: 1;
  padding: 10px;
  background-color: #fcdab9;
  border: 8px solid #f78072;
  box-sizing: border-box;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox {
  display: flex; //pang align center lang
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 120px;
  background-color: #fac0cb;
  border: 8px solid #f40005;
  box-sizing: border-box;
  text-align: center;
  font-size: 50px;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex: 1;
  gap: 20px;
}

.mainBox {
  flex: 1;
  height: 500px;
  background-color: #fabbbb;
  border: 8px solid #a52b2a;
  box-sizing: border-box;
}

.asideContainer {
  display: flex; /*pang gap */
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  gap: 20px;
}

.asideBox {
  flex: 1;
  height: 50%;
  background-color: #fabbbb;
  border: 8px solid #a52b2a;
  box-sizing: border-box;
}

.blueContainer {
  display: flex;
  flex: 1;
  padding: 20px;
  background-color: #add8e6;
  border: 8px solid #2000ff;
  box-sizing: border-box;
  gap: 10px;
}

.purpleBox {
  flex: 1;
  background-color: #e2deff;
  border: 8px solid #6a5acd;
  box-sizing: border-box;
  height: 150px;
}

.smallPeachBox {
  flex: 0.5;
  height: 150px;
  background-color: #fcdab9;
  border: 8px solid #f78072;
  box-sizing: border-box;
}
